# App Configuration
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # Generar con: npx auth secret

# Database Configuration (MariaDB)
DATABASE_ROOT_PASSWORD=root
DATABASE_NAME=sko_nexus
DATABASE_USER=sko_admin
DATABASE_PASSWORD=sko_password
DATABASE_HOST=localhost
DATABASE_PORT=3306

# Prisma Connection URL
DATABASE_URL="mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
