# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Prisma
# prisma/migrations/
.env

# OS Files
.DS_Store
Thumbs.db

# Production
build/
dist/

# Database
docker/mariadb/
prueba.json

#OpenCode Local Config
auth.json
opencode_models.json
opencode_selection.json
agents_local.json
